<div class='showQuesiton'>
<div class='question'>
  <%= @question %><br>
  質問内容：<%= @question.question %></div>
<div class='answers'>回答一覧：
<% if @exist_answers != nil %>
  <%= @exist_answers.each do |answer| %>
      <p><%= answer.answer %></p>
  <% end %>
  <% end %></div>

  <!-- 回答提出用フォーム -->
<div class='submit_question'>回答する：
<%= form_for(@new_answer) do |f| %>
  <%= f.text_area :answer %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.submit "送信" %>
  <% end %></div></div>

<div>
  <%=link_to "質問一覧に戻る",questions_path %>
</div>