<!DOCTYPE html>
<html>
  <head>
    <title>QuestionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- この部分にress.cssを組み込む必要がある（railsでの組み込み方を調べる） -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <ul class="page_header wrapper">
        <h1><%=link_to image_tag("logo.png", class:"page_header_logo"), "/" %></h1>
        <!--ログイン済ユーザー用ヘッダーメニュー-->
        <div class="page_header_menu">
          <% if current_user == nil %>
            <li><%= link_to "HOME", "/" %></li>
            <li><%= link_to "ABOUT", "/top/about" %></li>
            <li><%= link_to "LOGIN", new_user_session_path %></li>
          <% else %>
            <li><%= link_to "MY PAGE", user_path(current_user.id) %></li>
            <li><%= link_to "ASK", new_question_path %></li>
            <li><%= link_to "VIEW QUESTIONS", questions_path %></li>
            <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </div>
      </ul>
    </nav>
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash.now[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash.now[:alert] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
